# Ignore dependencies, let Docker handle them
node_modules
download/Player/node_modules

# Ignore local media and data files, these should be handled by volumes
download/Player/videos
download/Player/music
download/Player/albumArt
download/Player/playlist.json
download/Player/state.json

# Ignore temporary files from beat processing script
script/temp_audio

# Ignore Git and IDE specific files
.git
.idea
*.log

# Ignore Docker files themselves
Dockerfile
docker-compose.yml
.dockerignore